<p id="notice"><%= notice %></p>

<p>
  <strong>CC First Name:</strong>
  <%= @purchase_order.cc_first_name %>
</p>

<p>
  <strong>CC Last Name:</strong>
  <%= @purchase_order.cc_last_name %>
</p>

<p>
  <strong>CC Month:</strong>
  <%= @purchase_order.cc_month %>
</p>

<p>
  <strong>CC Year:</strong>
  <%= @purchase_order.cc_year %>
</p>

<p>
  <strong>CC Type:</strong>
  <%= @purchase_order.card_type %>
</p>

<p>
  <strong>User IP:</strong>
  <%= @purchase_order.user_ip %>
</p>

<p>
  <strong>Billing First Name:</strong>
  <%= @purchase_order.billing_first_name %>
</p>

<p>
  <strong>Billing Address 1:</strong>
  <%= @purchase_order.billing_address_1 %>
</p>

<p>
  <strong>Billing Address 2:</strong>
  <%= @purchase_order.billing_address_2 %>
</p>

<p>
  <strong>Billing State:</strong>
  <%= @purchase_order.billing_state %>
</p>

<p>
  <strong>Billing Country:</strong>
  <%= @purchase_order.billing_country %>
</p>

<p>
  <strong>Billing Zip:</strong>
  <%= @purchase_order.billing_zip %>
</p>

<p>
  <strong>Shipping Option:</strong>
  <%= @purchase_order.shipping_option %>
</p>

<p>
  <strong>Shipping First Name:</strong>
  <%= @purchase_order.shipping_first_name %>
</p>

<p>
  <strong>Shipping Last Name:</strong>
  <%= @purchase_order.shipping_last_name %>
</p>

<p>
  <strong>Shipping Address 1:</strong>
  <%= @purchase_order.shipping_address_1 %>
</p>

<p>
  <strong>Shipping Address 2:</strong>
  <%= @purchase_order.shipping_address_2 %>
</p>

<p>
  <strong>Shipping Country:</strong>
  <%= @purchase_order.shipping_country %>
</p>

<p>
  <strong>Shipping State:</strong>
  <%= @purchase_order.shipping_state %>
</p>

<p>
  <strong>Shipping Zip:</strong>
  <%= @purchase_order.shipping_zip %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @purchase_order.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @purchase_order.total %>
</p>

<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>