<div class="row admin-nav">  
  <%= link_to "Home", root_path %>
  <div id="caret-right"> <%= link_to fa_icon('caret-right'), user_page_path if logged_in?(:admin, :registered_user) %>
    </div>
  <%= link_to "Admin", admin_path %>   
    <div id="caret-right"> <%= link_to fa_icon('caret-right'), user_page_path if logged_in?(:admin, :registered_user) %>
    </div>
  <%= link_to "Orders", admin_orders_path %>   
</div>


<p id="notice"><%= notice %></p>

<table class="table">
  <thead class="thead-dark">
    <th>Order</th>
    <th>Date Created</th>
    <th>Tracking</th>
    <th>Total</th>
    <th>Status</th>
    <th></th>
  </thead>

  <tbody>    
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "#{order.id}", order %></td>
        <td><%= order.created_at.strftime("%m-%d-%Y") %></td>        
        <td><%= link_to "#{order.tracking}" %></td>
        <td><%= order.total %></td>
        <td><%= order.order_status_id %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>        
      </tr>        
    <% end %>
  </tbody>
</table>