
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS 
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template 
    <link href="album.css" rel="stylesheet"> --> 


  </head>  

  <body>
   <div class="row admin-nav">  
    <%= link_to "Home", root_path, class: "admin-link" %>
    <div> 
     <i class="fa fa-caret-right" id="admin-nav-icon"></i>
    </div>
    <%= link_to "Admin", admin_path, class: "admin-link" %>   
      <div> 
       <i class="fa fa-caret-right" id="admin-nav-icon"></i>
      </div>
    <%= link_to "Inventory", admin_inventory_path, class: "admin-link" %>   
  </div>
    <div class="container-fluid">          
      <div class="container">
        <div class="row">
          <%= form_tag update_multiple_products_path, method: :put do  %>
            <table class="table">               
              <thead class="thead-dark">
                <th></th>
                <th>Image</th>
                <th>Product ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Status</th>
                <th>Price</th>
                <th></th>
                <th></th>             
              </thead>
              <% @products.each do |product| %>
                <%= fields_for "products[]", product do |f| %>
                <% if product.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
                    <ul>
                    <% product.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>   
                <tr>
                  <td><%= check_box_tag 'product_ids[]', product.id %></td>
                  <td><%= link_to (image_tag product.main_image ), product_path(product) unless product.main_image.nil?  %></td>  
                  <td><div class="td-text"><%= product.product_id %></div></td>
                  <td><%= f.text_field :name, size: "12", class: "td" %></td>                  
                  <td><%= f.text_field :brand, size: "10", class: "td" %></td>  
                  <td><%= f.text_field :category, size: "10", class: "td" %></td>   
                  <td><%= f.number_field :quantity,  class: "td number_field" %></td>
                  <td><div class="td-text"><%= link_to "#{product.status}" %></div></td> 
                  <td><%= f.number_field :price,  class: "td price_number_field" %></td>
                </tr>
                <% end %>              
              <% end %>  
            </table>
           <%= submit_tag "Update All" %>
          <% end %>   
        </div>              
      </div>                   
    </div>     
   </div>
  </body>

  <footer class="text-muted">
    <%= render 'shared/application_footer' %>
  </footer>
</html>