<%= render 'shared/application_nav' %>
<p id="notice"><%= notice %></p>

<table class="table">
  <thead class="thead-dark">
    <th>Order</th>
    <th>Date Created</th>
    <th>Tracking</th>
    <th>Total</th>
    <th>Status</th>
    <th></th>
  </thead>

  <tbody>    
    <% @purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= link_to "#{purchase_order.id}", purchase_order %></td>
        <td><%= purchase_order.created_at.strftime("%m-%d-%Y") %></td>        
        <td><%= link_to "#{purchase_order.tracking}" %></td>
        <td><%= purchase_order.total %></td>
        <td><%= purchase_order.purchase_order_status_id %></td>
        <td><%= link_to 'Edit', edit_purchase_order_path(purchase_order) %></td>        
      </tr>        
    <% end %>
  </tbody>
</table>