<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credit_card.name %>
</p>

<p>
  <strong>Expiration mm:</strong>
  <%= @credit_card.expiration_mm %>
</p>

<p>
  <strong>Expiration yy:</strong>
  <%= @credit_card.expiration_yy %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @credit_card.card_number %>
</p>

<p>
  <strong>Cvc:</strong>
  <%= @credit_card.cvc %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
