<!-- TODO -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" <%= link_to "Home", root_path %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">      
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "Cart", cart_path %> <span class="sr-only">(current)</span></a>
      </li>   
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "User", user_page_path %> <span class="sr-only">(current)</span></a>
      </li>  
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "Admin", admin_path %> <span class="sr-only">(current)</span></a>
      </li>   
      <li class="nav-item active">        
        <a class="nav-link" <%= login_helper 'nav-link'  %> <span class="sr-only">(current)</span></a>
      </li>      
    </ul>
    <form class="form-inline my-2 my-md-0">
      <%= form_tag products_path, method: :get do %>   
      <div class="form-control" >         
        <%= text_field_tag :query, params[:query], class: 'form-control'%>
        <%= submit_tag "Search", name: nil, class: 'form-control' %>      
      </div>
      <% end %>  
    </form>
  </div>
</nav>