<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this @order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Checkout example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!--<link href="form-validation.css" rel="stylesheet"> -->
  </head>
  <form action="/shipping" method="post" class="needs-validation" mnovalidate>
    <body class="bg-light">
      <div class="row">
        <div class="col-md-2 order-md-2 mb-4">
          <div class="col-md-12 col-lg-4 billing-summary">
            <div>
              <h3>Summary</h3>
              <!-- TODO -->
              <div class="summary-item"><span class="text">Subtotal</span><span class="price">$<%= subtotal = @order_items.sum(&:total_price) %></span></div>
              <div class="summary-item"><span class="text">Discount</span><span class="price">$<%= discount = 0 %></span></div>
              <div class="summary-item"><span class="text">Shipping</span><span class="price">$<%= shipping = 10 %> </span></div>
              <div class="summary-item"><span class="text">Total</span><span class="price">$<%= subtotal + shipping %></span></div> 
            </div>
          </div>          
        </div>
        
        
          <div class="col-md-9 order-md-1 payment">
          <h4 class="mb-6">Payment</h4>       
            <div class="row">              
              <%= f.fields_for :card, @order.card do |card_form| %>
                <div class="col-md-3 mb-3">
                  <label for="name">Name on card</label>
                  <%= card_form.text_field :name, class:"form-control", required:false, value: "John" %>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>              
              <div class="col-md-6 mb-3">
                <label for="cc_number">Credit card number</label>
                <%= f.text_field :card_number, class:"form-control", required:false, value: "4032038747093601" %>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc_expiration_mm">Expiration MM</label>
                <%= f.text_field :cc_month, class:"form-control", required:false, value: "8" %>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc_expiration_yy">Expiration YY</label>
                <%= f.text_field :cc_year, class:"form-control", required:false, value: "2023" %>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc_cvv">CVC</label>
                <%= f.text_field :card_verification, class:"form-control", required:false, value: "123" %>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>                           
                <div class="col-md-3 mb-3">
                  <label for="card_type">Card Type</label>
                  <%= card_form.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], {}, { :class => "custom-select" } %>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>   
             <% end %>  
            </div>
          
        
          
          <%= f.fields_for :billing_information, @order.billing_information do |billing_form| %>   
            <hr class="mb-4">
            <h4 class="mb-3">Billing Address</h4>          
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>                                
                <%= billing_form.text_field :first_name, class:"form-control", required:false, value: "Jared"%>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <%= billing_form.text_field :last_name, class:"form-control", required:false, value: "Brown" %>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
              </div>
              <div class="mb-3">
                <label for="address">Address</label>
                <%= billing_form.text_field :address_line_1, class:"form-control", required:false %>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
              <div class="mb-3">
                <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                <%= billing_form.text_field :address_line_2, class:"form-control"%>
              </div>
              <div class="row">                
                <div class="col-md-4 mb-3">
                  <label for="state">State</label>
                  <%= billing_form.select :state, [["Idaho", "idaho"]], {}, { :class => "custom-select" } %> 
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
                <div class="col-md-5 mb-3">
                  <label for="city">City</label>
                  <%= billing_form.text_field :city, class:"form-control", required:false %>
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="zip">Zip</label>
                  <%= billing_form.text_field :zip_code, class:"form-control", required:false %>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>           
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"  name="same_address" id="same_address">
                <label class="custom-control-label" for="same_address">Shipping address is the same as my billing address</label>
              </div>            
              <hr class="mb-4">
            <% end %>

            <%= f.fields_for :shipping_address, @order.shipping_address do |shipping_form| %>              
              <h4 class="mb-3">Shipping Address</h4>    
              <div class="row">
                <div class="col-md-4 mb-3">  
                <label for="name">First name</label>  
                    <%= shipping_form.text_field :first_name, class:"form-control", required:false  %>  
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>                
                <div class="col-md-4 mb-3">
                  <label for="lastName">Last name</label>
                    <%= shipping_form.text_field :last_name, class:"form-control", required:false  %>      
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="shipping_option">Shipping</label>                  
                  <%= shipping_form.select :shipping_option, [["One Day", "one_day"], ["Two Day", "two_day"], ["Three Day", "three_day"], ["Economy", "economy"]], {}, { :class => "custom-select" }  %>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>              
              <div class="mb-3">
                <label for="address">Address</label>    
                  <%= shipping_form.text_field :address_line_1, class:"form-control", required:false  %>  
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>              
              <div class="mb-3">
                <label for="shipping_address_2">Address 2 <span class="text-muted">(Optional)</span></label>
                <%= shipping_form.text_field :address_line_2, class:"form-control", required:false  %>      
              </div>
              <div class="row">                
                <div class="col-md-4 mb-3">
                  <label for="state" >State</label>
                   <%= shipping_form.select :state, [["Idaho", "idaho"]], {}, { :class => "custom-select" } %>
                  <div class="invalid-feedback">
                    Please select a valid state.
                  </div>
                </div>
                <div class="col-md-5 mb-3">
                  <label for="city">City</label>
                  <%= shipping_form.text_field :city, class:"form-control", required:false %>
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-md-3 mb-3">                  
                    <label for="zip">Zip</label>
                    <%= shipping_form.text_field :zip_code, class:"form-control", required:false  %>      
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
          
            <% end %>
          
            <hr class="mb-4">                     
            <%= f.submit "Checkout", class:"btn btn-primary btn-lg btn-block" %>         
         </div>       
       </div>
     </div>    
    </div>
  </form>
<% end %>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2017-2018 Company Name</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>

    <!-- Bootstrap core JavaScript
    ================================================== 
     Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <!--<script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script> -->
    <script> 

      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      
    </script>
  
  </body>
</html>  


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>