<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this @order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>
  <strong>Name:</strong>
  <%= @order.card.name %>
</p>

<p>
  <strong>card_type:</strong>
    <%= @order.card.card_type %>
</p>

<p>
  <strong>billing_first_name:</strong>
   <%= @order.billing_information.first_name %>
</p>

<p>
  <strong>billing_last_name:</strong>
    <%= @order.billing_information.last_name %>
</p>

<p>
  <strong>billing_address_1:</strong>
    <%= @order.billing_information.address_line_1 %>
</p>

<p>
  <strong>billing_address_2:</strong>
   <%= @order.billing_information.address_line_2 %>
</p>
  
<p>
  <strong>billing_state:</strong>
    <%= @order.billing_information.state %>
</p>
  
<p>
  <strong>billing_city:</strong>
    <%= @order.billing_information.city %>
</p>
  
<p>
  <strong>billing_zip:</strong>
    <%= @order.billing_information.zip_code %>
</p>
  
<p>
  <strong>shipping_first_name:</strong>
    <%= @order.shipping_address.first_name %>
</p>
  
<p>
  <strong>shipping_last_name:</strong>
    <%= @order.shipping_address.last_name %>
</p>

<p>
  <strong>shipping_address_1:</strong>
    <%= @order.shipping_address.address_line_1 %>
</p>
  
<p>
  <strong>shipping_address_2:</strong>
    <%= @order.shipping_address.address_line_2 %>
</p>
  
<p>
  <strong>shipping_country:</strong>
   <%= @order.shipping_address.city %>
</p>
  
<p>
  <strong>shipping_state:</strong>
    <%= @order.shipping_address.state %>
</p>
  
<p>
  <strong>shipping_zip:</strong>
    <%= @order.shipping_address.zip_code %>
</p>
  
<p>
  <strong>subtotal:</strong>
    <%= @order.subtotal %>
</p>
  
<p>
  <strong>shipping:</strong>
    <%= @order.shipping_address.shipping_option %>
</p>
  
<p>
  <strong>total:</strong>
    <%= @order.total %>    
</p>

<p>
  <strong>tracking:</strong>
    <%= @order.tracking %>
</p>

  
<% end %>