<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS 
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template 
    <link href="album.css" rel="stylesheet"> -->
    <%= render 'shared/application_nav' %>
  </head>  

  <body>
    <p id="notice"><%= notice %></p>               
      
    
      
    <div class="container-fluid">

      <div class="row" ">  

        <div class="col-md-2 filter-menu">
          <div class="col-md-3" ">  
           <% if @my_array.count > 0 %>
            <h1> Brand </h1>
           <% end %>
           <% i = 0 %>
          <% @my_array.each do |array| %>     
            <% i += 1 %>
            <form >
              <%= form_tag products_path, method: :get do %>   
                     
                <%#= text_field_tag :query, 'XYZ', class: 'form-control'%>
                <%#= submit_tag :query, 'Samsung', class: 'form-control', disabled: false %>     
                <%#= button_to "New Post", { :action => "new" }, method => :get %> 
                <!--<input id=query" name="query" type="submit" value=<%="#{array}"%> /> 
                -->
                <div class="filter-item">
                  <div class="filter-checkbox filter-item">
                    <input type="checkbox" name="query" value=<%="#{array}"%> id="query"><label for="love"><%="#{array}"%></label>
                  </div>
                
                <% while i == @my_array.count %>                
                  <button type="submit">Filter</button>
                   <% i += 1 %>
                 <% end %>
                 </div>
             <% end %>   
            </form>           
          <% end %>   
          </div> 
        </div>

        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4" >                    
          
            <div class="container" ">
              <div class="row" ">
                <% @products.each do |product| %>
                  <%= render "shared/product_row", product: product, order_item: @order_item %>
                <% end %>                
              </div>   
                <%#= paginate @products %>
            </div>
          
       </main>
     </div>
   </div>
  </body>

  <footer class="text-muted">
    <%= render 'shared/application_footer' %>
  </footer>
</html>
