<%= render 'shared/category_nav' %>
<br>
<h1>User Page</h1>
<br>

Order | Date Created | Tracking | Total | Status
<br>

<br>
<% @orders.each do |order| %>  
  <%= order.id %> |
  <%= order.created_at.strftime("%m-%d-%Y") %> |
  <%= order.total %> |
  <%= order.order_status_id %> |
  <br>
  <%= order.inspect %>
  <br>
<% end %>

