<div class="row">
  <div class="col-md-4">
    <%= link_to (image_tag product.main_image ), product_path(product) unless product.main_image.nil?  %>
  </div>
  <div class="col-md-8" class="info">
    <div class="info">
      <div class="row">
        <div class="col-md-5 product-name">
          <div class="product-name">
            <%= product.name %>        
          </div>
        </div>
        <div class="col-md-4 quantity">          
          <%= form_for order_item, remote: true do |f| %>
            <div class="row">
              <div class="col-xs-4">
                <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
                <%= f.hidden_field :product_id, value: product.id %>
              </div>
              <div class="col-xs-8 text-right">
                <div class="btn-group" >
                  <%= f.submit "Update Quantity", class: "btn btn-primary" %>
                  <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
                </div>
              </div>
            </div>        
          <% end %>          
        </div>
        <div class="col-md-3 price">
          <span><%= order_item.unit_price %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

 
