<%= render 'shared/category_nav' %>

<h1>Order Confirmation</h1>
<p id="notice"><%= notice %></p>

<% @oi.each do |order| %>    
    <%= order.id %>       
    <%= order.order_status_id %>  
    <br> 
  <% end %>   
<hr>
<%= @order.inspect %>
<hr>
Order_status: <%= @order.order_status_id %>
<hr>
Session order_id: <%= session[:order_id] %>
