<%= render 'shared/application_nav' %>

<p id="notice"><%= notice %></p>

<%= link_to "Order History", user_order_history_path %>
<br>
<%= link_to "billing", user_billing_path %>
<br>
<%= link_to "shipping", user_shipping_path %>
<br>
<%= link_to "settings", user_settings_path %>