<li class="nav-item">
  <a class="nav-link" href="#">
    <span data-feather="file"></span>
    <%= @item.brand %>
  </a>
</li>


<div class="col-md-3">              
  <span data-feather="file"></span>                    
  <%= link_to "Samsung" %>           
</a>
</div>
<div class="col-md-3">              
  <span data-feather="file"></span>                    
  <%= link_to "Logitech" %>           
</a>
</div>
<div class="col-md-3">              
  <span data-feather="file"></span>                    
  <%= link_to "Intel" %>           
</a>
</div>
  <div class="col-md-3">
  <span data-feather="file"></span>                  
    <%= link_to "Primary" %>  
</a>
</div>
<div class="col-md-3">
  <span data-feather="file"></span>                  
    <%= link_to "Secondary" %>  
  </a>
</div>