<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- TODO add upload image button and show actual image -->  
  <div class="field">
    <%= f.label :main_image %>
    <%= f.text_field :main_image %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :primary %>
    <%= f.text_field :primary %>
  </div>

  <div class="field">
    <%= f.label :secondary %>
    <%= f.text_field :secondary %>
  </div>
 
 <!--TODO debug why item_id isnt working. I suspect it is because item_id is a string datatype not a text-->
  <div class="field">
    <%= f.label :item_id %>
    <%= f.text_field :item_id %>
  </div>

  <div class="field">
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>