<h1>Monitors</h1>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="products.scss" rel="stylesheet">
    <%= render 'shared/category_nav' %>
  </head>  

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render 'shared/filter_nav' %>
        <main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-4">                    
          <div class="album py-5 bg-light">
            <div class="container">
              <div class="row">                
                <% file_name = File.basename(__FILE__, '.html.erb') %>
                  <% @products.each do |product| if product.category == "#{file_name}" %>
                    <%= render "products/product_row", product: product, order_item: @order_item %>
                    <% end %>
                <% end %>                
                </div>   
              <%= paginate @products %>
            </div>
          </div>  
       </main>
     </div>
   </div>
  </body>

  <footer class="text-muted">
    <%= render 'shared/application_footer' %>
  </footer>
</html>
