<%= render 'shared/application_nav' %>

<body class="bg-light">
  <div class="row" id="product-row">      
    <div class="col-md-7  payment" >               
      <div class="col-md-3 offset-3">  
      </div>
      <div id="individual-product-card">       
       <%#= render "shared/product_row", product: @product, order_item: @order_item %>    
       <h4><%= @product.name %></small></h4>              
        <div class="card product-card mb-3 " ">
          <div class="box-shadow" ">
            <%= link_to (image_tag @product.thumb_image ), @product_path unless @product.thumb_image.nil?  %>
            <div class="col-xs-8">                    
            </div>
            <div class="col-xs-4">                    
            </div>
          </div>
        </div>
      </div>                
    </div>
    <div class="col-md-5  mb-4 product-info">
      <p class="product-details">          
        <%= @product.details %>
      </p>       
      <div class="product-controls order-sm-3 ">
        <h4 class="product-price">Price: <%= number_to_currency @product.price %></h4>
        <%= form_for @order_item, remote: true do |f| %>   
          <div class="input-group" id="product-quantity">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          </div>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary", id:"product-add" %>                
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>