<%= render 'shared/application_nav' %>

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this @product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <body class="bg-light">
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <p class="product-details">
          <strong>Details:</strong>
          <%= @product.details %>
        </p>                    
      </div>
      <div class="col-md-8 order-md-1 payment">
        <div class="row">
          
              <div class="col-md-6">  
              </div>
                <div class="card product-card mb-3" id="individual-product-card">                  
                  <%= render "shared/product_row", product: @product, order_item: @order_item %>                  
                </div>                
              </div>
            </div>              
          
        </div>
      </div>
    </div>
  </body>
<% end %>